{% if page.about.section.visible == true %}
<div class="container py-5 text-center border-top"{% if page.about.section.highlight == true %} style="background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(248,249,250,0) 100%);"{% endif %}>

  <div class="row">
    <div class="col">
      {% if page.about.section.icon %}<div class="display-6">{{ page.about.section.icon }}</div>{% endif %}
      {% if page.about.section.name %}<div class="display-6">{{ page.about.section.name }}</div>{% endif %}
      {% if page.about.section.preamble %}<p>{{ page.about.section.preamble }}</p>{% endif %}
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      {% if page.about.content.size > 0 %}
      {% for p in page.about.content %}
      <p>{{ p }}</p>
      {% endfor %}
      {% else %}
      <div class="alert alert-light border shadow" role="alert">Nothing posted here, yet.</div>
      {% endif %}
    </div>
  </div>

</div>
{% endif %}
