<div class="bg-dark p-5" style="background: url({{ site.baseurl }}/assets/img/centos-motif.png) right center / cover;">
  <div class="container p-5 text-white text-center">
    <div class="row">
      <div class="col">
        <img class="rounded-circle shadow img-fluid" width="250" src="{{ site.baseurl }}/assets/img/people/{{ page.username }}.png" alt="{{ page.username }}" />
        <h1 class="display-1 fw-bold">{{ page.username }}</h1>
        <p class="lead">{{ page.fullname }}</p>
      </div>
    </div>
  </div>
</div>
