{% if page.projects.section.visible == true %}
<div class="container py-5 text-center border-top"{% if page.projects.section.highlight == true %} style="background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(248,249,250,0) 100%);"{% endif %}>
  <div class="row">
    <div class="col">
      {% if page.projects.section.icon %}<div class="display-6">{{ page.projects.section.icon }}</div>{% endif %}
      {% if page.projects.section.name %}<div class="display-6">{{ page.projects.section.name }}</div>{% endif %}
      {% if page.projects.section.preamble %}<p>{{ page.projects.section.preamble }}</p>{% endif %}
    </div>
  </div>

  {% if page.projects.content.size > 0 %}
  <div class="row mt-3">
    {% for project in page.projects.content %}
    <div class="col-sm-6{% cycle ' border-end', '' %}">
      <div class="display-6 pt-3 fw-bold"><a href="{{ project.link }}">{{ project.name }}</a></div>
      <div class="lead pb-3">{{ project.description }}</div>
    </div>
    {% endfor%}
  </div>
  {% else %}
  <div class="row mt-3">
    <div class="col">
      <div class="alert alert-light border shadow" role="alert">Nothing posted here, yet.</div>
    </div>
  </div>
  {% endif %}
</div>
{% endif %}
