<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    {% favicons %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/stylesheet.min.css">
</head>
