<div class="accordion my-4" id="pageTocAccordion">
  <div class="accordion-item">
    <div class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">Table of content</button>
    </div>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#pageTocAccordion">
      <div class="accordion-body">{% include toc.html html=content %}</div>
    </div>
  </div>
</div>
