// --------------------------------------------------------------------------------
// Navbar and linked headings' correction.
//
// By default, when you access page headings from the page table of content
// (toc) links, the heading is hidden behind the navbar.  This workaround fixes
// the linked headings visibility issue in the page.
// --------------------------------------------------------------------------------
h1,h2,h3,h4,h5,h6 {
  &::before {
    display: block;
    height: 6rem;
    margin-top: -6rem;
    visibility: hidden;
    content: "";
  }
  margin-top: 3rem;
}
