<div class="table-responsive">
<table class="table">
<thead>
  <tr>
    <th scope="col"><i class="fas fa-microchip"></i> Architectures</th>
    <th scope="col">Packages</th>
    <th scope="col">Others</th>
  </tr>
</thead>
<tbody>

