<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">

{% include head-datatables.html %}

<body>

  {% include navbar.html -%}
  {% include header.html -%}

  <main id="main" class="download">
    <article class="download__content">
      <div class="download__content__nav">
        {% include breadcrumbs.html %}
        {% include toc.html html=content %}
      </div>
      {{ content }}
    </article>
  </main>

  {% include footer.html -%}

  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.dataTables.min.js"></script>
  <script src="assets/js/dataTables.bootstrap5.min.js"></script>
  <script>
  $(document).ready(function() {
    $('#download-mirror').DataTable();
  } );
  </script>

  <script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>
</body>

</html>
