<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">

  {% include head.html -%}

  <body>

    {% include navbar.html -%}

    <main class="bg-light">

      {% include header.html -%}

      <div class="container shadow-lg bg-body p-5 mt-n5 rounded-top">
        <div class="row">
          <div class="col-sm-8">{% include breadcrumbs.html %}</div>
          <div class="col-sm-4 text-end">{% include editbar.html %}</div>
        </div>
        <div class="row">
          <div class="col">{% include toc-accordion.html %}</div>
        </div>
        <div class="row">
          <div class="col mt-3">{{ content }}</div>
        </div>
      </div>

    </main>

    {% include footer.html -%}

    <script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>
  </body>

</html>
