<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">

  {% include head.html -%}

  <body>

    {% include navbar.html -%}

    <main class="bg-light">

      {% include home/header.html %}
      {% include home/distributions.html %}
      {% include home/news-and-events.html %}
      {% include home/planet.html %}

      {% include footer.html -%}

      <script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>
  </body>

</html>
