/* Montserrat helper mixins (adapted from Overpass helper mixins) */

//-- This is a map of the current font weights, keyed on their file names
$supported-weights: (
  Thin:             100,
  ExtraLight:       200,
  Light:            300,
  Regular:          400,
  Medium:           500,
  SemiBold:         600,
  Bold:             700,
  ExtraBold:        800,
  Black:            900
);

$supported-italic-weights: (
  ThinItalic:       100,
  ExtraLightItalic: 200,
  LightItalic:      300,
  Italic:           400,
  MediumItalic:     500,
  SemiBoldItalic:   600,
  BoldItalic:       700,
  ExtraBoldItalic:  800,
  BlackItalic:      900
);

//-- This mixins will dynamically print the font-face declarations based on your levels of support
// * Weights can be limited to those your wish to incorporate in your styles; if left with defaults,
//   this will add support for all supported font variations
// * The weight map can be customized if you wish to set your own values
//   Example: To use `font-weight: bolder` instead of `font-weight: 600`, we create a custom map
//            that maps the key bold to the value bolder -> `bold: bolder`
// * The path to dist represents the location of the overpass font files relative to your architecture
@mixin print-montserrat-font-face(

  $weights: map-keys($supported-weights),
  $weight-map: $supported-weights,

  $italic-weights: map-keys($supported-italic-weights),
  $italic-weight-map: $supported-italic-weights,

  $path_to_dist: '../webfonts/'
) {
  @each $weight in $weights {
    @font-face {
      font-family: 'Montserrat';
      src: url("#{$path_to_dist}Montserrat-#{$weight}.woff2") format("woff2"), url("#{$path_to_dist}Montserrat-#{$weight}.woff") format("woff");
      font-weight: map-get($weight-map, $weight);
      font-style: normal;
    }
  }
  @each $italic-weight in $italic-weights {
    @font-face {
      font-family: 'Montserrat';
      src: url("#{$path_to_dist}Montserrat-#{$italic-weight}.woff2") format("woff2"), url("#{$path_to_dist}Montserrat-#{$italic-weight}.woff") format("woff");
      font-weight: map-get($italic-weight-map, $italic-weight);
      font-style: italic;
    }
  }
  @each $weight in $weights {
    @font-face {
      font-family: 'Montserrat Alternates';
      src: url("#{$path_to_dist}MontserratAlternates-#{$weight}.woff2") format("woff2"), url("#{$path_to_dist}Montserrat-#{$weight}.woff") format("woff");
      font-weight: map-get($weight-map, $weight);
      font-style: normal;
    }
  }
  @each $italic-weight in $italic-weights {
    @font-face {
      font-family: 'Montserrat Alternates';
      src: url("#{$path_to_dist}MontserratAlternates-#{$italic-weight}.woff2") format("woff2"), url("#{$path_to_dist}Montserrat-#{$italic-weight}.woff") format("woff");
      font-weight: map-get($italic-weight-map, $italic-weight);
      font-style: italic;
    }
  }
}

@include print-montserrat-font-face;
