/* Overpass Mono helper mixins */

//-- This is a map of the current font weights, keyed on their file names
$supported-weights: (
    light:    300,
    regular:  400,
    semibold: 500,
    bold:     600
);

//-- This mixins will dynamically print the font-face declarations based on your levels of support
// * Weights can be limited to those your wish to incorporate in your styles; if left with defaults,
//   this will add support for all supported font variations
// * The weight map can be customized if you wish to set your own values
//   Example: To use `font-weight: bolder` instead of `font-weight: 600`, we create a custom map
//            that maps the key bold to the value bolder -> `bold: bolder`
// * The path to dist represents the location of the overpass font files relative to your architecture
@mixin print-overpass-mono-font-face(
    $weights: map-keys($supported-weights),
    $weight-map: $supported-weights,
    $path_to_dist: '../webfonts/'
) {
    @each $weight in $weights {
      @font-face {
        font-family: 'overpass-mono';
        src: url("#{$path_to_dist}overpass-mono-#{$weight}.woff2") format("woff2"), url("#{$path_to_dist}overpass-mono-#{$weight}.woff") format("woff");
        font-weight: map-get($weight-map, $weight);
        font-style: normal;
      }
    }
}

@include print-overpass-mono-font-face;
